asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.2
defusedxml==0.7.1
Django==4.2.11
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.3.1
djoser==2.2.0
idna==3.10
oauthlib==3.2.2
Pillow==10.2.0
gunicorn==21.2.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
reportlab==4.4.0
requests==2.32.3
requests-oauthlib==2.0.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.5.3
urllib3==2.4.0
